.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.button {
  padding: 10px;
  border-radius: 5px;
  margin: auto;
}
.cutton {
  background-color: blueviolet;
  color: antiquewhite;
  padding: 40px;

  font-size: large;

  width: max-content;
}
